<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan base-package="com.metacube.spring1"></context:component-scan>
	
<!-- 	<bean id="Mmail" class="com.metacube.spring1.MockMailSender"> -->
<!-- 	<property name="msg"> -->
<!-- 	<value> -->
<!-- 	"Mock Mail Sended..." -->
<!-- 	</value> -->
<!-- 	</property> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="Smail" class="com.metacube.spring1.SmtpMailSender"> -->
<!-- <!-- 	Setter injection using XML File --> -->
<!-- 	<property name="msg"> -->
<!-- 	<value> -->
<!-- 	"Smtp Mail Sended..." -->
<!-- 	</value> -->
<!-- 	</property> -->
<!-- <!-- 	Constructor injection using XML File. --> -->
<!-- 	<constructor-arg value = "Smtp Mail sended..."></constructor-arg> -->
<!-- 	</bean> -->


</beans>