<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Servlet_Assignment2</display-name>
<servlet>
<servlet-name>abc</servlet-name>
<servlet-class>students.AddStudent</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>abc</servlet-name>
	<url-pattern>/add</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>def</servlet-name>
	<servlet-class>students.ShowStudent</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>def</servlet-name>
	<url-pattern>/ads</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>pqr</servlet-name>
	<servlet-class>students.SearchStudent</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>pqr</servlet-name>
	<url-pattern>/sad</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>kqr</servlet-name>
	<servlet-class>students.FilterStudent</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>kqr</servlet-name>
	<url-pattern>/adda</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>qrs</servlet-name>
	<servlet-class>students.EditStudent</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>qrs</servlet-name>
	<url-pattern>/edit</url-pattern>
</servlet-mapping>

</web-app>