* {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}

input, textarea, select {
    margin-top: 10px;
    width: 300px;
    border: none;
    border-bottom: 2px solid #6c5ce7;
    background: none;
    outline: none;
    transition: 1s;
}

.suggestion {
    font-size: 12px;
    color: #4b6584;
    width: 300px;
    margin-left: 50px;
    visibility: hidden;
}

input[type="radio"] {
    width: 20px;
}

input[type="button"] {
    width: 80px;
    height: 40px;
    background-color: #5522ff;
    box-shadow: 2px 2px 5px black;
    border: none;
}

#confirmationMessage {
    text-align: center;
}

h1 {
    text-align: center;
}

.styleDiv {
    background-size: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    margin: 120px auto;
    width: 400px;
    text-align: center;
    padding: 20px 0;
}

#vehicleForm {
    display: none;
}

#currencyForm {
    display: none;
    width: 300px;
    margin: 20px auto;
    padding: 30px;
}